@import "main.css";

.icons-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.title {
    width: 100%;
}
.item {
    margin: 2rem;
    text-align: center;
}
.icon {
    margin: 1rem auto;
    font-size: 4rem;
}
.markup {
    margin: 1rem auto;
    padding: 1rem;
    background-color: #d6d8e1;
    font-family: monospace;
}
.content {
    font-sise: 2rem;
}
.content:before {
    content: '"\\';
}
.content:after {
      content: '"';
  }