@import "normalize.css";
@import "grid.css";
@import "fonts.css";

:root {
    --padding-global-vertical: 1rem;
    --padding-global-hor: 1rem;
    --font-size-base: 14px;
    --font-family-base: sans-serif;
    --bg-base-color: #eceef4;
    --bg-light-color: #fff;
    --border-color: #c9d0e1;
    --border-radius: 4px;
}

body {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    background-color: var(--bg-base-color);
}

.bg-light {
    background-color: var(--bg-light-color);
}

.header > .container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 12%;
    height: 0;
    padding-bottom: 12%;
    background: url("../images/logo-black-01.png") center no-repeat;
    background-size: contain;
    color: transparent;
    outline: none;
}

.header .logo:hover {
    opacity: .8;
}

.header .logo:focus,
.header .logo:active {
    background-image: url("../images/logo-black-02.png");
}

.button {
    display: inline-block;
    padding: 1em 2em;
    font-size: 1em;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    color: #a5abc5;
    background: #eceef4;
    border: 1px solid #c9d0e1;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.button:hover {
    opacity: .8;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.button:focus,
.button:active {
    border-color: #a5abc5;
    box-shadow: 0 0 14px rgba(0, 0, 0, .3);
}

.button-icon:before {
    padding-right: 1em;
}

.main > .container {
    padding: var(--padding-global-vertical) var(--padding-global-hor);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.section-summary > h1 {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
    z-index: -1;
}

.title {
    text-transform: uppercase;
}

.title-icon {
    font-weight: bold;
}

.title-icon:before {
    font-size: 2em;
    margin-right: .5em;
    vertical-align: -.2em;
}

.bg-light .title {
    color: #6e768f;
}

.table-summary {
    margin: 1em 0;
    width: 100%;
    table-layout: fixed;
}

.table-summary th {
    width: 25%;
    text-align: left;
    color: #6d759d;
    text-transform: uppercase;
}

.table-summary th, .table-summary td {
    padding: .5em 1em;
}

.table-summary td {
    color: #a5abc5;
}

.section-summary .buttons-group button {
    width: 100%;
}

.section-summary .buttons-group button:not(:first-child) {
    margin-top: 1rem;
}

.button-primary {
    color: #fff;
    background-color: #5fcac6;
    border-color: #4daca9;
}

.support-info {
    color: #a3a0b4;
}

.support-info-address {
    font-style: normal;
}

.support-info-address a {
    color: #636e88;
}

.support-info-address a + a {
    margin-left: .5em;
}

.support-info-address a:hover,
.support-info-address a:focus {
    opacity: .8;
    text-decoration: none;
}

.border-bottom {
    display: inline-block;
    position: relative;
}

.border-bottom:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0; right: 0;
    border-bottom: 1px solid #d2d3dc;
}

.section-form > h1 {
    margin: 2em auto;
    text-align: center;
    font-weight: normal;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #6a718b;
}

.section-form > h1 .border-bottom {
    padding-bottom: .4em;
}

.translate-type {
    margin: 2rem auto;
    display: block;
    border: 1px solid #d2d5dc;
    padding: 5px;
    background-color: #f7f7fa;
    position: relative;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.translate-type:hover {
    box-shadow: 0 0 10px #000;
}

.translate-type-input {
    position: absolute;
    clip-path: inset(50%);
    clip: rect(0, 0, 0, 0);
}

input.translate-type-input:checked + label.translate-type {
    border-width: 6px;
    border-color: #75a7e1;
    padding: 0;
    box-shadow: inset 0 0 0 1px #fff;
}

input.translate-type-input:checked + label.translate-type:hover,
input.translate-type-input:checked:focus + label.translate-type {
    box-shadow: inset 0 0 0 1px #fff, 0 0 10px #000;
}

.translate-type:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    font-size: 2.4em;
    position: absolute;
    right: -.4em;
    top: -.4em;
    width: .8em;
    line-height: .8em;
    text-indent: -.1em;
    color: #75a7e1;
    background-color: #fff;
    border-radius: 50%;
    display: none;
    z-index: 1;
}

.translate-type-input:checked + .translate-type:before {
    display: block;
}

.translate-title {
    position: relative;
    text-align: center;
    display: block;
    padding-top: 150px;
    margin: 2rem;
    font-size: 1.2em;
    font-weight: bold;
    color: #9392b5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.translate-title:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 2em;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.translate-type-website .translate-title:before {
    background-image: url("../images/translate-website.png");
}

.translate-type-documents .translate-title:before {
    background-image: url("../images/translate-documents.png");
}

.translate-type-social .translate-title:before {
    background-image: url("../images/translate-social.png");
}

[data-translate] {
    display: none;
}

input[id=website]:checked ~ form [data-translate=website],
input[id=documents]:checked ~ form [data-translate=documents],
input[id=social]:checked ~ form [data-translate=social] {
    display: block;
}

[class*=icon] {
    font-family: sans-serif;
    display: inherit;
}

[class*=icon].fa:before, [class*=icon].fas:before {
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
}

[class*=icon].far:before {
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 400;
}

[class*=icon].fab:before {
    font-family: 'Font Awesome 5 Brands', sans-serif;
    font-weight: 400;
}

.section-form {
    counter-reset: count;
}

.count-group legend:before {
    content: counter(count);
    counter-increment: count;
}
