@import "normalize.css";
@import "grid.css";
@import "fonts.css";

:root {
    --padding-global-vertical: 1rem;
    --padding-global-hor: 6rem;
    --font-size-base: 14px;
    --font-family-base: sans-serif;
    --bg-base-color: #eceef4;
    --bg-light-color: #fff;
    --bg-dark-color: #444a62;
    --text-dark-color: #444a62;
    --text-light-color: #a4a9c5;
    --title-light-color: #aeb2cd;
    --border-color: #c9d0e1;
    --border-radius: 4px;
}

body {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    background-color: var(--bg-base-color);
}

.theme-light {
    color: var(--text-dark-color);
    background-color: var(--bg-light-color);
}

.theme-dark {
    color: var(--text-light-color);
    background-color: var(--bg-dark-color);
}

.theme-dark .title {
    color: var(--title-light-color);
}

.header > .container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo, .footer .logo {
    width: 12%;
    height: 0;
    padding-bottom: 12%;
    background: url("../images/logo-black-01.png") center no-repeat;
    background-size: contain;
    color: transparent;
    outline: none;
    display: block;
}

.header .logo:hover {
    opacity: .8;
}

.header .logo:focus,
.header .logo:active {
    background-image: url("../images/logo-black-02.png");
}

.label {
    text-transform: uppercase;
    color: #a5abc5;
}

.button, .select, .input {
    display: inline-block;
    padding: .8em 2em;
    font-size: 1em;
    line-height: 1.4;
    text-decoration: none;
    outline: none;
    border: 1px solid #c9d0e1;
    border-radius: var(--border-radius);
}

.button, .select {
    color: #a5abc5;
    background: #eceef4;
    cursor: pointer;
}

.button {
    font-weight: bold;
    text-transform: uppercase;
}

.select {
    padding-right: 3em;
    background-image: url("../images/select_arrow.png"),
    linear-gradient(-90deg, transparent calc(3em - 1px), #c9d0e1 calc(3em - 1px), #c9d0e1 3em, transparent 3em);
    background-position: right 1em center, right;
    background-repeat: no-repeat;
    background-size: 1em, auto;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.select::-ms-expand {
    display: none; /* to ie 10 */
}

.select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #a5abc5;
}

.button:hover, .select:hover, .input:hover {
    opacity: .8;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.button:focus,
.select:focus,
.file-input:focus + .button,
.button:active,
.select:active,
.file-input:active + .button {
    border-color: #a5abc5;
    box-shadow: 0 0 14px rgba(0, 0, 0, .3);
}

.input:focus,
.input:active {
    border-color: #75a7e1;
    box-shadow: 0 0 14px rgba(117, 117, 225, .8);
}

.button-icon:before {
    padding-right: 1em;
}

.main > .container {
    padding: var(--padding-global-vertical) var(--padding-global-hor) calc(var(--padding-global-vertical) * 2);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.section-summary > h1 {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
    z-index: -1;
}

.title {
    text-transform: uppercase;
}

.title-icon {
    font-weight: bold;
    position: relative;
}

.title-icon:before {
    position: absolute;
    font-size: 2em;
    line-height: 1;
    right: 100%;
    margin-right: .5em;
    margin-top: -.2em;
}

.title-order:before {
    content: '\f382';
}

.theme-light .title {
    color: #6e768f;
}

.table {
    margin: 1em 0;
    width: 100%;
    table-layout: fixed;
}

.table th {
    text-align: left;
    text-transform: uppercase;
}

.table td {
    color: #a5abc5;
}

.table-summary th {
    width: 25%;
    color: #6d759d;
}

.bordered {
    padding: 1em;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.table-files-list .col-file {
    width: 40%;
}

.table-files-list .col-size {
    width: 20%;
}

.table-files-list .col-amount {
    width: 30%;
}

.table-files-list .col-button {
    width: 10%;
}

.table-files-list th {
    color: #a5abc5;
}

.table th, .table td {
    padding: .5em 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-files-list td {
    font-size: 1.2em;
}

.table-files-list .file-name:before {
    content: '\f15c';
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    margin-right: .5em;
}

.table-files-list .file-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-files-list .file-remove-cell {
    text-align: center;
}

.section-summary .buttons-group button {
    width: 100%;
}

.section-summary .buttons-group button:not(:first-child) {
    margin-top: 1rem;
}

.button-primary {
    color: #fff;
    background-color: #5fcac6;
    border-color: #4daca9;
}

.support-info {
    color: #a3a0b4;
}

.support-info-address {
    font-style: normal;
}

.support-info-address a {
    color: #636e88;
}

.support-info-address a + a {
    margin-left: .5em;
}

.support-info-address a:hover,
.support-info-address a:focus {
    opacity: .8;
    text-decoration: none;
}

.border-bottom {
    display: inline-block;
    position: relative;
}

.border-bottom:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0; right: 0;
    border-bottom: 1px solid #d2d3dc;
}

.section-form > h1 {
    margin: 2em auto;
    text-align: center;
    font-weight: normal;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #6a718b;
}

.section-form > h1 .border-bottom {
    padding-bottom: .4em;
}

.translate-type,
.tone-label,
.payment-label {
    margin: 2rem auto;
    display: block;
    border: 1px solid #d2d5dc;
    padding: 5px;
    background-color: #f7f7fa;
    position: relative;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.translate-type:hover,
.tone-label:hover,
.payment-label:hover {
    box-shadow: 0 0 10px #000;
}

.translate-type-input,
.tone-input,
.payment-input,
.payment-label > span {
    position: absolute;
    clip-path: inset(50%);
    clip: rect(0, 0, 0, 0);
}

input.translate-type-input:checked + label.translate-type,
input.tone-input:checked + label.tone-label,
input.payment-input:checked + label.payment-label {
    border-width: 6px;
    border-color: #75a7e1;
    padding: 0;
    box-shadow: inset 0 0 0 1px #fff;
}

input.translate-type-input:checked + label.translate-type:hover,
input.tone-input:checked + label.tone-label:hover,
input.payment-input:checked + label.payment-label:hover,
input.translate-type-input:checked:focus + label.translate-type,
input.tone-input:checked:focus + label.tone-label,
input.payment-input:checked:focus + label.payment-label {
    box-shadow: inset 0 0 0 1px #fff, 0 0 10px #000;
}

.translate-type:before,
.tone-label:before,
.payment-label:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    font-size: 2.4em;
    position: absolute;
    right: -.4em;
    top: -.4em;
    width: .8em;
    line-height: .8em;
    text-indent: -.1em;
    color: #75a7e1;
    background-color: #fff;
    border-radius: 50%;
    display: none;
    z-index: 1;
}

.translate-type-input:checked + .translate-type:before,
.tone-input:checked + .tone-label:before,
.payment-input:checked + .payment-label:before {
    display: block;
}

.translate-title {
    position: relative;
    text-align: center;
    display: block;
    padding-top: 150px;
    margin: 2rem;
    font-size: 1.2em;
    font-weight: bold;
    color: #9392b5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.translate-title:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 2em;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.translate-type-website .translate-title:before {
    background-image: url("../images/translate-website.png");
}

.translate-type-documents .translate-title:before {
    background-image: url("../images/translate-documents.png");
}

.translate-type-social .translate-title:before {
    background-image: url("../images/translate-social.png");
}

[data-translate] {
    display: none;
}

input[id=website]:checked ~ form [data-translate=website],
input[id=documents]:checked ~ form [data-translate=documents],
input[id=social]:checked ~ form [data-translate=social] {
    display: block;
}

.fieldset-unstyled {
    padding: 0;
    margin: 0 0 4rem;
    border: none;
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.section-form {
    counter-reset: count;
}

.count-group .legend-styled:before {
    content: counter(count);
    counter-increment: count;
    position: absolute;
    top: -.4em;
    left: -1.8em;
    width: 1.8em;
    line-height: 1.8em;
    margin-left: -1em;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #6e768f;
}

.legend-styled {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    color: #67728e;
    font-size: calc(var(--font-size-base) * 1.6);
}

.details {
    font-size: .6em;
    opacity: .8;
}

.button-icon.input-file-styled {
    display: inline-block;
    text-transform: none;
    font-weight: normal;
}

.file-input {
    position: absolute;
    clip-path: inset(50%);
    clip: rect(0, 0, 0, 0);
}

.button-remove {
    border: none;
    background: none;
    outline: none;
    font-size: 0;
    color: #a5abc5;
    cursor: pointer;
}

.button-remove:before {
    content: '\f1f8';
    font-size: var(--font-size-base);
}

.button-remove:hover {
    opacity: 0.8;
}

.button-remove:focus {
    text-shadow: 0 0 10px #76a7e1;
}

.form-group-row, .form-group-col {
    margin-bottom: 2em;
}

.lang-group .select,
.lang-group .button {
    margin-left: 1.2rem;
}

.lang-group .label:first-child {
    display: inline-block;
    width: 4ch;
    text-align: right;
}

label.lang-additional {
    position: absolute;
    clip-path: inset(50%);
    clip: rect(0, 0, 0, 0);
}

.tone-label {
    padding: 1em;
    text-align: center;
}

input.tone-input:checked + label.tone-label {
    padding: calc(1em - 5px);
}

.tone-title {
    font-weight: normal;
    color: #a5abc5;
}

.tone-icon:before {
    margin-right: 1.2em;
}

.range-wrap {
    margin-bottom: 2em;
}

.range-input-wrap {
    margin-bottom: 1em;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
    outline: none;
}

/* Special styling for thumbWebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    background: #edbe75;
    cursor: pointer;
    margin-top: -.425em; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    border: none;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    background: #edbe75;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    border: none;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    background: #edbe75;
    cursor: pointer;
}

input[type=range]:focus::-webkit-slider-thumb {
    border: 1px solid #76a7e1;
    box-shadow: 0 0 7px rgba(0, 0, 0, .3);
}

input[type=range]:focus::-moz-range-thumb {
    border: 1px solid #76a7e1;
    box-shadow: 0 0 7px rgba(0, 0, 0, .3);
}

input[type=range]:focus::-ms-thumb {
    border: 1px solid #76a7e1;
    box-shadow: 0 0 7px rgba(0, 0, 0, .3);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: .5em;
    cursor: pointer;
    background-color: #eff0f5;
    background-image: radial-gradient(.25em at .25em center, #d6d8e2 0, #d6d8e2 .25em, #eff0f5 .25em),
                      radial-gradient(.25em at .25em center, #d6d8e2 0, #d6d8e2 .25em, #eff0f5 .25em),
                      radial-gradient(.25em at .25em center, #d6d8e2 0, #d6d8e2 .25em, #eff0f5 .25em);
    background-size: .5em .5em;
    background-position: left center, center, right center;
    background-repeat: no-repeat;
    border-radius: .25em;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: .5em;
    cursor: pointer;
    background-color: #eff0f5;
    background-image: radial-gradient(.25em at .25em center, #d6d8e2 0, #d6d8e2 .25em, #eff0f5 .25em),
                      radial-gradient(.25em at .25em center, #d6d8e2 0, #d6d8e2 .25em, #eff0f5 .25em),
                      radial-gradient(.25em at .25em center, #d6d8e2 0, #d6d8e2 .25em, #eff0f5 .25em);
    background-size: .5em .5em;
    background-position: left center, center, right center;
    background-repeat: no-repeat;
    border-radius: .25em;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 1.2em;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
}

/* Left side of track IE */
input[type=range]::-ms-fill-lower {
    height: .5em;
    background-color: #eff0f5;
    background-image: radial-gradient(.25em at .25em center, #d6d8e2 0, #d6d8e2 .25em, #eff0f5 .25em);
    background-size: .5em .5em;
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: .25em 0 0 .25em;
}

/* Right side of track IE */
input[type=range]::-ms-fill-upper {
    height: .5em;
    background-color: #eff0f5;
    background-image: radial-gradient(.25em at .25em center, #d6d8e2 0, #d6d8e2 .25em, #eff0f5 .25em);
    background-size: .5em .5em;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 0 .25em .25em 0;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    box-shadow: 0 0 7px rgba(0, 0, 0, .3);
}

input[type=range]:focus::-moz-range-track {
    box-shadow: 0 0 7px rgba(0, 0, 0, .3);
}

input[type=range]:focus::-ms-track {
    box-shadow: 0 0 7px rgba(0, 0, 0, .3);
}

.range-titles {
    display: flex;
    justify-content: space-between;
}

.range-title {
    width: 20%;
    text-align: center;
    font-weight: bold;
}

.range-title:first-child {
    margin-left: -10%;
}

.range-title:not(:first-child):not(:last-child) {
    color: #edbe75;
}

.range-title:last-child {
    margin-right: -10%;
}

.timeline-info {
    padding-left: 7em;
    color: #a5abc5;
    line-height: 1.6;
}

.timeline-info .title {
    font-size: calc(var(--font-size-base) * 1.2);
}

.info-link {
    position: relative;
    color: #edbe75;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.info-link:before {
    content: attr(data-title);
    position: absolute;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    width: 20ch;
    padding: 1em;
    top: 100%;
    margin-top: .5em;
    z-index: 2;
    left: 50%;
    margin-left: -10ch;
    font-weight: normal;
    text-transform: none;
    line-height: 1.2;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    display: none;
}

.info-link:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: 0;
    margin-bottom: -.5em;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, .8);
    display: none;
}

.info-link:hover:before,
.info-link:hover:after {
    display: block;
}

.signup-text {
    font-size: 1.2em;
    color: #a4b5d1;
}

.link, .link-styled {
    color: inherit;
    font-family: var(--font-family-base);
}

.link:hover {
    text-decoration: none;
}

.link-styled, .link-styled:hover {
    text-decoration: none;
}

.link:focus,
.link:active {
    opacity: .8;
}

.link-styled:hover {
    opacity: .5;
}

.link-styled:focus,
.link-styled:active {
    opacity: .8;
}

.payment-label {
    height: 8em;
    background-size: auto 3.5em;
    background-position: center;
    background-repeat: no-repeat;
}

.payment-label.payment-visa {
    background-image: url("../images/payment-visamastercard.png");
}

.payment-label.payment-paypal {
    background-image: url("../images/payment-paypal.png");
}

.payment-label.payment-amazon {
    background-image: url("../images/payment-amazon.png");
}

.input-wrap {
    position: relative;
}

.validation-error-wrap {
    margin-bottom: 2em;
}

.input-wrap .input {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.input:invalid {
    border-color: #f00;
}

.input + .input-validity-state:before {
    content: '';
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    font-size: 1.6em;
    line-height: 1;
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    right: 10px;
}

.input:not(:placeholder-shown):valid + .input-validity-state:before {
    content: '\f058';
    color: #75a7e1;
}

.input:invalid + .input-validity-state:before {
    content: '\f057';
    color: #e17776;
}

.validation-error-message {
    position: absolute;
    top: 100%;
    margin-top: .2em;
    color: #f00;
    opacity: 0;
    transition: opacity ease-in .1s;
}

.input:invalid ~ .validation-error-message {
    opacity: 1;
}

.input-card {
    background: url(../images/visa-grayscale.png) no-repeat;
    background-size: 4em;
    background-position: right .5em center;
    transition: background-position .2s;
}

.input-card:not(:placeholder-shown) {
    background-position: right 3em center;
}

.form-group-col .label {
    display: inline-block;
    margin: .4em 1em;
}

.text-right {
    text-align: right;
}

.finalize-group .button {
    margin-left: 1em;
}

.finalize-group input[type=checkbox] {
    vertical-align: middle;
}

[class*=icon] {
    font-family: sans-serif;
}

.footer.theme-dark {
    /*color: #fff;*/
}

.footer > .container {
    padding: 4em 3.2em;
}

.footer [class*=col-]:not(:first-child) {
    margin-top: 2em;
}

.footer .title {
    font-size: var(--font-size-base);
}

.title-heart:before {
    content: '\f004';
}

.title-compass:before {
    content: '\f14e';
}

.title-share-alt:before {
    content: '\f1e0';
}

.social-links li {
    margin: 1em 0;
}

.social-link[class*=icon]:before {
    font-family: 'Font Awesome 5 Brands', sans-serif;
    font-weight: 400;
    margin-right: 1em;
}

.fb-icon:before {
    content: '\f09a';
}

.tw-icon:before {
    content: '\f081';
}

.ln-icon:before {
    content: '\f08c';
}

.footer .logo {
    margin: auto;
}

.footer address {
    font-style: normal;
}

[class*=icon]:before, [class*=icon].fa:before, [class*=icon].fas:before {
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
}

[class*=icon].far:before {
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 400;
}

[class*=icon].fab:before {
    font-family: 'Font Awesome 5 Brands', sans-serif;
    font-weight: 400;
}

